.inform-day {
  margin-top: 56px;
}
.inform-day-hr {
  height: 1px;
  background: #c4c4c4;
}
.inform-day-text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  text-transform: uppercase;

  color: #91a0b6;
}
